* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: hsl(225, 100%, 94%);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: auto;
  max-width: 375px;
}

.card {
  background: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: red solid 1px;
  border-radius: 10px;
  margin: 10px;
}
.card_images img {
  background-size: cover;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
